<ion-view view-title="Lists">
  <ion-content>
    <div class="list list-inset">
      <form class="item item-input" ng-submit="addlist()">
        <i class="icon ion-pin placeholder-icon"></i>
        <input type="text" ng-model="newList.name" placeholder="Add a new list" required>
      </form>
    </div>
    <ion-list>
      <ion-item ng-repeat="list in lists" href="#/app/lists/{{list.id}}" ng-click="setListName(list.name)">
        {{list.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
