<ion-view view-title="Search">
  <ion-content>
    <form class="item item-input"ng-submit="search()">
      <i class="icon ion-search placeholder-icon"></i>
      <input ng-model="book.title" type="search" placeholder="Search by Title">
      <button class="balanced">Search</button>
    </form>
    <ion-list>
      <ion-item ng-repeat="result in searchResults">
      <img ng-src="{{result.volumeInfo.imageLinks.thumbnail}}">
      <div>
      {{result.volumeInfo.title}}
      </div>
      <div>
      {{result.volumeInfo.authors[0]}}
      </div>
      <button></button>
      </ion-item>
    <ion-list>
  </ion-content>
</ion-view>
