<ion-view view-title="Search">
  <ion-content>
    <form class="item item-input"ng-submit="search()">
      <i class="icon ion-search placeholder-icon"></i>
      <input ng-model="book.title" type="search" placeholder="Search by Title">
      <button class="button-balanced">Search</button>
    </form>
    <div class="list">
      <label ng-repeat="result in searchResults" class="item item-thumbnail-left item-input item-select">
        <div class="input-label">
          <img ng-src="{{result.volumeInfo.imageLinks.thumbnail}}">
          <h2>{{result.volumeInfo.title}}</h2>
          <p>{{result.volumeInfo.authors[0]}}</p>
          <select>
          <option selected>Add to List</option>
          <option>Blue</option>
          <option>Green</option>
          <option>Red</option>
          </select>
        </div>
      </label>
    </div>
  </ion-content>
</ion-view>
