<ion-view view-title="BookList" hide-nav-bar="true" class="splash-page" ng-controller="AuthCtrl">
  <ion-content scroll="false">

  <div class="logo">Sign In</div>

    <form ng-submit="signin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="user.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="user.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Sign In</button>
        </label>
      </div>
    </form> 
    <div class="redirect-msg">
      <p>Don't have an account? <a href='#/signup'>Sign Up Here</a></p>
    </div>

  </ion-content>
</ion-view>