<ion-view view-title="BookList" hide-nav-bar="true" class="splash-page" ng-controller="AuthCtrl">
<ion-content scroll="false">

  <h1 class="text-center">Booklists</h1>

  <form ng-submit="signup()">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" ng-model="user.username" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password" required>
      </label>
      <label class="item">
        <button class="button button-block button-positive" type="submit">Sign Up</button>
      </label>
    </div>
  </form>
  <div class="redirect-msg text-center">
    <p>Already have an account? <a href='#/signin'>Sign In Here</a></p>
  </div>

  </ion-content>
</ion-view>
